body {
    padding-bottom: 50px;
}

#grammar-input {
    font-family: monospace;
    min-height: 150px;
}

#grammars {
    font-family: monospace;
}

#grammar-alert {
    display: none;
}

#grammar-display {
    display: none;
}

#grammar-mode-info {
    display: none;
}

.list-group-item-action.active {
    color: black;
    background-color: #ccd3ff;
    border-color: #b5bfff;
}

.nonterm, .term {
    font-family: monospace;
}

.nonterm {
    color: #0f17ff;
    font-weight: bold;
}

.term {
}

.emptyset {
    font-size: 80%;
    color: #808182;
}

.prod-display {
    display: block;
    margin-left: 20px;
}

.grammar-action {
    margin: 3px;
}

.grammar-content {
    display: none;
}

.cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#cyk {
    display: none;
}

#cyk-table {
    width: 80%;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

#cyk-table td {
    text-align: center;
}

#cyk-table .terminal-cell, #cyk-table .value-cell {
    border: 1px solid black;
}

#cyk-table .terminal-cell {
    background-color: #c3d6f4;
}
